.button,
.button__disabled {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: var(--highlight-color);
  color: var(--button-text);
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
  display: block;

  &__disabled {
    background-color: var(--button-color-disabled);
    color: var(--button-text-disabled);
    cursor: not-allowed;

    &:hover {
      background-color: var(--button-color-disabled);
    }
  }
}

.button:hover {
  background-color: var(--highlight-dark);
}
