.button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: var(--highlight-color);
  color: var(--button-text);
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  width: fit-content;

  &:hover {
    background-color: var(--highlight-dark);
  }
}
