.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: min(var(--page-width), 95vw);
  //   overflow: hidden;
  //   min-height: min(100vh, 1000px);
  min-height: min(600px, 100vh);
  padding: var(--section-paddingY) 0;

  &__text {
    width: max(25vw, 400px);
    max-width: 90vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;

    h1 {
      font-size: 6rem;
      margin: 0;
      font-weight: 400;
      font-family: var(--logo-font);
      color: var(--text-color);
      text-shadow: 0 0 3px var(--shadow-color);
      transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
    }
    h2 {
      font-size: 2rem;
      margin: 0;
      font-weight: 400;
      color: var(--text-color);
      text-shadow: 0 0 1px var(--shadow-color);
      transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
      font-style: italic;
    }
    ul {
      // list-style: none;
      padding: 0;
      margin: 0;
      list-style-position: inside;
      li {
        list-style-type: "✓ ";
        font-size: 1.5rem;
        font-weight: 400;
        color: var(--text-color);
        text-shadow: 0 0 1px var(--shadow-color);
        transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
        font-style: italic;
      }
    }
  }

  &__buttons {
    margin-top: 15px;
  }
  &__button {
    margin-right: 10px;
    display: inline-block;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      transform: translateY(-2px) scale(1.03);
      transition: transform 0.2s ease-in-out;
    }
  }
  &__flashcard {
    margin-left: auto;
    margin-right: 6px;
  }
}

@media (min-width: 768px) {
  .hero {
    flex-wrap: nowrap;
  }
}
