.flashcard {
  background-color: var(--card-color);
  width: min(600px, 90vw);
  min-height: min(420px, 90vh);
  height: 100%;
  max-height: 90vh;
  border-radius: 10px;
  // box-shadow: 1px 1px 3px var(--shadow-color);

  display: flex;
  flex-direction: column;

  position: relative;

  transform: rotateY(var(--rotate-y, 0)) perspective(1000px)
    translateY(var(--translate-y, 0));
  transform-style: preserve-3d;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s ease-in-out;
  cursor: pointer;
  user-select: none;

  scrollbar-color: var(--card-scroll-track-color) var(--card-scroll-thumb-color);

  -webkit-tap-highlight-color: transparent;

  ::-webkit-scrollbar {
    width: var(--card-sb-size);
  }

  ::-webkit-scrollbar-track {
    background: var(--card-scroll-track-color);
    border-radius: 10px;
    // border-left: solid 3px var(--card-color);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--card-scroll-thumb-color);
    border-radius: 10px;
    // border-left: solid 3px var(--card-color);
  }

  &:hover {
    --translate-y: -2px;

    .flashcard__hint {
      opacity: 100%;
    }
  }

  &.flipped {
    --rotate-y: 180deg;
    // box-shadow: -1px 1px 3px var(--shadow-color);
  }

  p {
    margin: 0;
  }

  ul,
  ol {
    text-align: left;
    margin: 0;
  }

  &__markdown {
    max-height: 100%;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    touch-action: pan-y;
  }

  &__hint {
    position: absolute;
    bottom: 0;
    padding: 10px;
    padding-bottom: 20px;
    opacity: 60%;
    user-select: none;
    transition: opacity 0.3s ease;
    font-size: calc(10px + 1.25vmin);
  }
}

.flashcard__front,
.flashcard__back {
  position: absolute;
  width: 100%;
  flex: 1;
  height: 100%;
  backface-visibility: hidden;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flashcard__front {
  transform: rotateY(0deg);
}

.flashcard__back {
  transform: rotateY(180deg) translateY(-2px);
}
