.wrapper {
  h2 {
    margin: 0;
  }
}

.preview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: min(var(--page-width), 95vw);
  //   overflow: hidden;
  //   min-height: min(100vh, 1000px);
  min-height: min(500px, 100vh);
  padding: var(--section-paddingY) 0;
}
