@import url('https://fonts.googleapis.com/css2?family=Parisienne');
:root{
  --background-color: #f1d9bd;
  --text-color: #413d3e;
  --primary-color: #01a1b1;
  --light-teal: #7bb4bd;
  --saturated-teal: #4bbed5;
  --dark-teal: #2c7083;
  --light-brown: #dba879;
  --dark-brown: #87695f;
  --cool-white: #dfe8f1;

  --logo-font: 'Parisienne', cursive;
}

[data-theme='dark']{
  --background-color: #413d3e;
  --text-color: #f1d9bd;
  --primary-color: #01a1b1;
  --light-teal: #7bb4bd;
  --saturated-teal: #4bbed5;
  --dark-teal: #2c7083;
  --light-brown: #dba879;
  --dark-brown: #87695f;
  --cool-white: #dfe8f1;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}