@import url("https://fonts.googleapis.com/css2?family=Allura&family=Parisienne");
:root {
  /* Color palette */
  --background-color: #f1d9bd;
  --text-color: #413d3e;
  --saturated-teal: #4bbed5;
  --light-teal: #7bb4bd;
  --dark-teal: #2c7083;
  --medium-teal: #01a1b1;
  --light-brown: #dba879;
  --manilla-color: #f7ebdd;
  --dark-brown: #87695f;
  --cool-white: #dfe8f1;
  --shadow-color: var(--text-color);
  --card-color: var(--manilla-color);
  --menu-color: var(--dark-brown);
  --menu-font: var(--cool-white);
  --text-highlight: var(--medium-teal);
  --sb-size: 10px;
  // --button-text: #1b1818;

  /* Cursive Logo Font */
  --logo-font: "Allura", cursive;
  // --logo-font: "Parisienne", cursive; /* F was blending into l, looked like "Hashy" */

  /* Page spacing */
  --page-width: 1300px;
  --page-paddingX: 20px;

  /* Section spacing */
  --section-paddingY: 60px;

  /* Media Queries */
  --tablet: 768px;
  --desktop: 1200px;

  /* Card Scrollbar */
  --card-scroll-thumb-color: var(--menu-color);
  --card-scroll-track-color: var(--background-color);
  --card-sb-size: 6px;
}

[data-theme="dark"] {
  /* Dark theme color palette */
  --background-color: #1b1818;
  --text-color: #f1d9bd;
  --card-color: #413d3e;
  --menu-color: #413d3e;
  --shadow-color: #878787;
  --text-highlight: var(--saturated-teal);
  --menu-font: var(--text-color);
  --card-scroll-thumb-color: var(--text-color);
  --card-scroll-track-color: var(--background-color);
  // --button-text: var(--background-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // overflow: hidden;

  scrollbar-color: var(--background-color) var(--menu-color);
  transition: scrollbar-color 0.3s ease-in-out;
}

::-webkit-scrollbar {
  width: var(--sb-size);
}

::-webkit-scrollbar-track {
  background: var(--background-color);
  // border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--menu-color);
  // border-radius: 10px;
  background-clip: padding-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  // text-decoration: none;
  color: var(--text-highlight);
}

blockquote {
  border-left: 5px solid var(--text-color);
  padding-left: 10px;
  margin-left: 0;
  margin-right: 0;
}
